

.browse-title {
  margin-top: 50px;
  text-align: center; /* Centers the text horizontally */
  font-size: 3rem; /* Makes the font larger */
  font-weight: bold; /* Ensures the font is bold */
  color: var(--purple); /* Matches the theme color */
  margin: 20px 0; /* Adds spacing above and below */
  font-family: "Work sans" /* Ensures consistency with the overall design */
}

@media screen and (max-width: 1200px) {
  .event-card {
    width: calc(50% - 10px);

  }

  .date-time-container {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
-------------------------------------

.public-events-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.events-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.event-card-community {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  border: 10px solid #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 400px; 
  margin: 0 auto;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;

}

.event-card-community:hover {
  transform: translateY(-10px); 
  background-color: var(--purple);
  border: 10px solid var(--purple);
}


.event-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.event-card-title {
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5 rem;
  font-weight: bold;
  color: #000000;
  margin: 10px 0;
}


.public-events-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

}

.events-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.error-display {
  text-align: center;
  color: #ff0000;
  font-size: 1.2rem;
}
