.create-event
 {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  font-family: 'Work Sans';
  padding: 0 2.5rem;
  overflow: hidden;
  height: 100%; 
  box-sizing: border-box;

}

.create-input-boxes
{
  font-family: 'Work Sans';
  border: none;
  background-color: #d9d9d986;
  font-size: 1.4rem;
  width: 100%;
}

.create-input-boxes::placeholder
{
  color: rgb(0, 0, 0);
  
}

/* Event & Date Section */
.event-and-date
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35px;
}

.event-title
{
  width: 700px;
}

.event-title input.create-input-boxes
{
  font-size:3rem;
  padding: .5rem;
}
.date input.create-input-boxes
{
  margin-top: 0.5rem;
  margin-left:-0.6rem;
  font-size: 1rem;
  color: #9d9d9d;
}

.date
{
  margin: 0px 55px 5px 10px;
  width: 700px;
}

/* Host Name, Max Attendees, Date, Time, Location, and Description Section */
.name-attendees-time-location-description-container
{
  width:670px;
  margin-top: 10px;
  
}
.name-attendees-time-location-description-container input.create-input-boxes
{
  font-size: 15px;
  padding: 8px;
}

.host-name input.create-input-boxes,
.max-attendees input.create-input-boxes,
.time input.create-input-boxes,
.location input.create-input-boxes
{
  margin-bottom: 0.2rem;
  padding-left: 2.3rem;
  width: 100%;
  
}

.description textarea
{
  font-size: 15px;
  padding: 8px;
  padding-right: 30px;
  color: #9d9d9d;
  padding-bottom: 45px;
  margin-bottom: 40px;
}

.description textarea.create-input-boxes
{
  padding-left: 1rem;
  width: 100%;
}


/*  Public/Private Section */

.public-status h4
{
  font-weight: 400;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.private-public-container
{
  display: flex;
  justify-content: space-evenly;
  gap:30px;
  margin-bottom: 20px;
  width: 50%;
}

.private-public-container .submit-button :nth-last-child(1)
{
  transform: translateY(-35px) translateX(-40px); 
}

.public-status 
{
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
  align-items: stretch;
  position: relative;
  left: 2rem;
  bottom: .53rem;
}

.public-status select.create-input-boxes
{
  font-size: 1rem;
  align-items: center;
  font-family: "Work Sans";
  position: relative;
  background-color:#F6C158 ;
  border-radius: 6rem;
  width: 35%;
  padding:.8rem 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-color: #000000;
  border-style: solid;
  border-width: 1.3px;
}


.submit-button 
.public-status 
{
  padding-right: 3.5rem;
  padding-left: 2rem;
}

/* Right Side of the Webpage */
.right-side-container
{
  align-items: center;
  position: relative;
  left: 51rem;
  bottom: 41rem;
}

.image-url input.create-input-boxes
{
  margin-bottom: 0.5rem;
  width: 61%;
  font-size: 15px;
  padding: 8px;
  padding-left: 30px;
  cursor: pointer;
}

.image-url img
{
  width: 600px;
  height: auto;
}


.custom-file-input
{
  align-items: center;
  background-color: #ccccccbf;
  padding: 10px;
  border-radius: 50px;
  position: relative;
  right: 580px;
  bottom: 20px;
  
}

.input.img-input-boxes
{
  color: #91DADE;
}

.contact-info textarea
{
  font-size: 15px;
  padding: 8px;
  color: #9d9d9d;
}

#contactInfo
{
  width:563px;
}

.img-input-boxes 
{
  display: none;
}

.contact-info textarea.create-input-boxes
{
  padding-left: 1rem;
  width: 100%;
  height: 10rem;
}

/* Submit Button  */
.alert 
{
  background-color: aqua;
}


.submit-button
{
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 7%;
  width: 20%;
  align-items: center;
}

.create-save-button
{
  font-size: 1rem;
  align-items: center;
  font-family: "Work Sans";
  font-weight: 300;
  position: relative;
  background-color:#B4A9EF ;
  border-radius: 6rem;
  padding:1rem 3.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-color: #030303;
  border-style: solid;
  border-width: 1.3px;
}