.create-event {
  /* overflow: hidden;
  height: 100%; */
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  font-family: 'Work Sans';
  padding-left:2.5rem ;
}

.create-input-boxes
{
  font-family: 'Work Sans';
  border: none;
  background-color: #d9d9d986;
  font-size: 1.4rem;
  width: 100%;
}

/* Event & Date Section */
.event-and-date
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:150%;
  margin-bottom: 35px;
}

.event-title input.create-input-boxes
{
  font-size:3rem;
  width:145%;
  padding: .5rem;
}
.date input.create-input-boxes
{
  margin-top: 0.5rem;
  margin-left:-0.6rem;
  width:164%;
  font-size: 1rem;
  color: #9d9d9d;
}

.date
{
  margin: 0px 55px 5px 10px;
}

/* Max Attendees, Date, Time, Location, and Description Section */
.name-attendees-time-location-description-container
{
  width: 75%;
  margin-top: 25px;
  align-items: center;
  width:86.5%;
  
}

.name-attendees-time-location-description-container input.create-input-boxes
{
  font-size: 15px;
  padding: 8px;
}

.host-name input.create-input-boxes,
.max-attendees input.create-input-boxes,
.time input.create-input-boxes,
.location input.create-input-boxes
{
  margin-bottom: 0.5rem;
  padding-left: 2.3rem;
  width: 61%;
}

.description textarea
{
  font-size: 15px;
  padding: 8px;
  color: #9d9d9d;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.description textarea.create-input-boxes
{
  padding-left: 1rem;
  width: 62.7%;
}


/* Invites & Public/Private Section */

.invites
{
  padding-left: 0;
  margin: 0;

}
.invites h4, .public-status h4
{
  font-weight: normal;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.invites-private-public-container
{
  display: flex;
  justify-content: space-evenly;
  gap:30px;
  margin-bottom: 20px;
  width: 50%;
}

.invites-private-public-container .submit-button :nth-last-child(1)
{
  transform: translateY(-30px) translateX(-40px); 
}


.invites , .public-status 
{
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 45%;
  align-items: stretch;
}

.submit-button
{
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 7%;
  width: 20%;
  align-items: center;
}

.create-save-button
{
  font-size: 1rem;
  align-items: center;
  font-family: "Work Sans";
  font-weight: 300;
  position: relative;
  background-color:#F6C158 ;
  border-radius: 6rem;
  padding:1rem;
}

.submit-button 
.public-status 
{
  padding-right: 3.5rem;
  padding-left: 2rem;
}

 /* Toggle Switch */
.switch 
{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.switch input 
{
  opacity: 0%;
  width: 0%;
  height: 0%;
}

.slider 
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .6s;
  border-radius: 34px;
}

.slider:before 
{
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider 
{
  background-color: #91DADE;
}

input:checked + .slider:before 
{
  transform: translateX(50px);
}

/* Right Side of the Webpage */
.right-side-container
{
  align-items: center;
  transform: translateX(55rem) translateY(-38.7em); 
}

.image-url input.create-input-boxes
{
  margin-bottom: 0.5rem;
  
  width: 61%;
  font-size: 15px;
  padding: 8px;
  padding-left: 30px;

}



.contact-info textarea
{
  font-size: 15px;
  padding: 8px;
  color: #9d9d9d;
}

.contact-info textarea.create-input-boxes
{
  padding-left: 1rem;
  width: 62.7%;
  height: 10rem;
}
